.boardContainer {
    border-style: solid;
    border-width: 10px;
    border-color: white;
}

.cell {
    font-size: 60px;
    height: 200px;
    padding: 55px 0;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.cell-sm {
    font-size: 20px;
    height: 90px;
    padding: 30px 0;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

table{
 height:300px;
}

.cell0 {
    color: #ffffff;
    background-color: #dddddd;
}

.cell2 {
    color: #0c1c2a;
    background-color: #ebf3fa;
}

.cell4 {
    color: #0c1c2a;
    background-color: #d8e8f6;
}

.cell8 {
    color: #0c1c2a;
    background-color: #b1d1ed;
}

.cell16 {
    color: #0c1c2a;
    background-color: #8bbae4;
}

.cell32 {
    color: #0c1c2a;
    background-color: #64a3db;
}

.cell64 {
    color: #0c1c2a;
    background-color: #3e8cd2;
}

.cell128 {
    color: #ebf3fa;
    background-color: #3170a8;
}

.cell256 {
    color: #ebf3fa;
    background-color: #25547e;
}

.cell512 {
    color: #ebf3fa;
    background-color: #183854;
}

.cell1024 {
    color: #ebf3fa;
    background-color: #0c1c2a;
}

.cell2048 {
    color: #ebf3fa;
    background-color: #000000;
}